/* 기본 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 화면 전체 중앙 정렬 설정 */
body {
    display: flex;
    justify-content: center; /* 가로 중앙 */
    align-items: center;     /* 세로 중앙 */
    min-height: 100vh;       /* 화면 높이 100% 확보 */
    background-color:#ece8e3;
    font-family: 'Malgun Gothic', sans-serif;
}

/* 로그인 박스 스타일 */
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    color:  #63554d;
    font-size: 24px;
}

/* 입력 필드 스타일 */
.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #63594d;
}

/* 로그인 버튼 스타일 */
.login-btn {
    width: 100%;
    padding: 14px;
    background-color: #ffffff;
    color:  #63554d;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.login-btn:hover {
    background-color: #d4d4d4;
}

/* 하단 링크 스타일 */
.footer-links {
    margin-top: 20px;
    font-size: 13px;
}

.footer-links a {
    color: #888;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.divider {
    margin: 0 10px;
    color: #eee;
}

.button-nonmember{ 
                  margin: 10px;
                  padding: 10px;             
                  position: absolute;
                  transform: translateX(63px);     
}

.non-member{ 
            width: 100%;
            height: 50px;
            font-size: medium;
            font-weight: 600;
            border-radius: 8px;
            color: #63554d;
            border: 1px solid #ddd;
            padding: 10px;
            margin: 10px;          
}

.non-member:hover {
    background-color: #d4d4d4;
}


